* {
    --header_bg: rgba(0, 0, 0, 0.879);
    --other_bg: rgba(0, 0, 0, 0.789);
    --footer_bg: rgba(0, 0, 0, 0.569);
    /* outline: 1px solid red; */
    color: white;
}

/* rochester-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/rochester.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* great-vibes-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/great-vibes.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#content {
    display: grid;
    grid-template-rows: 4fr 12fr 1fr;
    background-image: url(./../assets/images/large-screen-bg.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
}

#header {
    grid-row: 1 / 2;
    background-color: var(--header_bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#title {
    padding: 40px 10px 10px 10px;
    font-size: 5rem;
    font-family: "Great Vibes", "Rochester";
    word-spacing: 5px;
}

#navoptions {
    width: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

.option {
    font-size: 1.4rem;
    width: 25%;
    text-align: center;
    padding: 7.5px 0;
}
.option:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: .3s;
}

#main {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerdiv {
    background-color: var(--other_bg);
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 525px;
    overflow: hidden;
}

/* Start Home Exclusive Styling */

#centertext, #subtext, #midtext, #submidtext {
    text-align: center;
    font-size: 1.225rem;
    font-weight: 600;
    width: 80%;
    margin: 5% 0;
    word-spacing: 2px;
    line-height: 21px;
}

/* End Home Exclusive Styling */

/* Start Menu And Wines Exclusive Styling */

#menu {
    display: flex;
    width: 90%;
    height: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 22.5px;
}

#entree, #mainDish, #dessert, #red, #white {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7.5px;
    text-align: center;
}

#entreetitle, #mainDishTitle ,#desserttitle, #redtitle, #whitetitle {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* End Menu Exclusive Styling */

/* Start Contact Exclusive Styling */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

#contactTitle {
    font-weight: bold;
    font-size: 2rem;
}

#details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1rem;
}

.email {
    font-size: 1.3rem;
    text-shadow: 0 0 .1px white;
}

.email:hover {
    cursor: pointer;
}

/* End Contact Exclusive Styling */

#footer {
    grid-row: 3 / -1;
    background-color: var(--footer_bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#github_logo {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid white;
}

#gitlink:hover {
    cursor: pointer;
}

/* 
Space for styles to place on the navbar items when they're active
*/

.activeOption {
    outline: 2px solid white;
}

@media (max-width: 550px) {
    #navoptions {
        width: 375px;
    }
    #centertext, #subtext, #midtext, #submidtext {
        font-size: 1.1rem;
    }

    #centertext, #subtext {
        text-shadow: 0 0 .25px white;
    }
    #midtext {
        font-weight: 500;
        text-shadow: 0 0 .1px white;
    }

    #entreetitle, #mainDishTitle ,#desserttitle, #redtitle, #whitetitle {
        font-size: 1.85rem;
    }
    #entree, #mainDish, #dessert, #red, #white {
        font-size: .95rem;
        gap: 5px;
    }

    #contact {
        gap: 35px;
    }
    .email {
        font-size: 1.1rem;
    }
}
@media (max-width: 850px) {
    #content {
        background-image: url(./../assets/images/small-screen-bg.jpg);
    }
}
@media (max-width: 1150px) and (min-width: 850px) {
    #content {
        background-image: url(./../assets/images/medium-screen-bg.jpg);
    }
    #midtext {
        font-weight: 500;
        text-shadow: 0 0 .25px white;
    }
}

@media (min-width: 1150px) {
    #navoptions {
        width: 650px;
    }
    #option {
        font-size: 1.5rem;
    }
    #centertext, #subtext {
        font-size: 1.35rem;
    }
    #midtext {
        font-weight: 500;
        text-shadow: 0 0 .25px white;
        font-size: 1.175rem;
    }
}