* {
    --header_bg: rgba(0, 0, 0, 0.879);
    --other_bg: rgba(0, 0, 0, 0.789);
    --footer_bg: rgba(0, 0, 0, 0.569);
    /* outline: 1px solid red; */
    color: white;
}

/* rochester-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/rochester.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* great-vibes-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/great-vibes.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#content {
    display: grid;
    grid-template-rows: 4fr 12fr 1fr;
    background-image: url(./../assets/images/sample.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
    image-resolution: from-image;
}

#header {
    grid-row: 1 / 2;
    background-color: var(--header_bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#title {
    padding: 40px 10px 10px 10px;
    font-size: 5rem;
    font-family: "Great Vibes", "Rochester";
    word-spacing: 5px;
}

#navoptions {
    width: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.option {
    font-size: 1.4rem;
    width: 25%;
    text-align: center;
    padding: 7.5px 0;
}
.option:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: .3s;
}

#main {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerdiv {
    background-color: var(--other_bg);
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 550px;
}

/* Start Home Exclusive Styling */

#centerimg {
    height: 275px;
    width: 275px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#centertext, #subtext {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

#centertext {
    margin: 10% 25px 0 25px;
}
#subtext {
    margin: 0 25px;
}

/* End Home Exclusive Styling */

/* Start Menu And Wines Exclusive Styling */

#menu {
    display: flex;
    width: 90%;
    height: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 22.5px;
}

#entree, #mainDish, #dessert, #red, #white {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7.5px;
    text-align: center;
}

#entreetitle, #mainDishTitle ,#desserttitle, #redtitle, #whitetitle {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* End Menu Exclusive Styling */

/* Start Contact Exclusive Styling */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

#contactTitle {
    font-weight: bold;
    font-size: 2rem;
}

#details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1rem;
}

.email {
    font-size: 1.3rem;
    text-shadow: 0 0 .1px white;
}

.email:hover {
    cursor: pointer;
}

/* End Contact Exclusive Styling */

#footer {
    grid-row: 3 / -1;
    background-color: var(--footer_bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#github_logo {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

/* 
Space for styles to place on the navbar items when they're active
*/

.activeOption {
    border: 2px solid white;
}

@media (max-width: 850px) {
    #content {
        background-image: url(./../assets/images/blub.jpg);
    }
}