* {
    --header_bg: rgba(0, 0, 0, 0.879);
    --other_bg: rgba(0, 0, 0, 0.789);
    --footer_bg: rgba(0, 0, 0, 0.569);
    /* outline: 1px solid red; */
    color: white;
}

/* rochester-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/rochester.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* great-vibes-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/great-vibes.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#content {
    display: grid;
    grid-template-rows: 3.5fr 12fr 1fr;
    background-image: url(./../assets/images/sample.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
    image-resolution: from-image;
}

#header {
    grid-row: 1 / 2;
    background-color: var(--header_bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#title {
    padding: 40px 10px 10px 10px;
    font-size: 5rem;
    font-family: "Great Vibes", "Rochester";
    word-spacing: 5px;
}

#navoptions {
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.option {
    font-size: 1.5rem;
    width: 33.3333%;
    text-align: center;
}
.option:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .3s;
    text-decoration: underline;
}

#main {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerdiv {
    background-color: var(--other_bg);
    width: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    gap: 20px;
    max-width: 550px;
}

#centerimg {
    height: 275px;
    width: 275px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#centertext, #subtext {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

#centertext {
    margin: 10% 25px 0 25px;
}
#subtext {
    margin: 0 25px;
}

#footer {
    grid-row: 3 / -1;
    background-color: var(--footer_bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#github_logo {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

/* 
Space for styles to place on the navbar items when they're active

Active Nav Element Styling - Place Below The Comment

*/

@media (max-width: 850px) {
    #content {
        background-image: url(./../assets/images/blub.jpg);
    }
}